@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to K8S Operations</h1>
    <p>You are currently working on <span style="color: teal; font-weight: bold">@Environment.MachineName Server</span></p>
</div>
